body{
    background-color: whitesmoke;
}

header{
    text-align: center;
    color: gray;
}

strong{
    color: black;
}

form{
    width:50%;
    background-color: white;
    margin: 0 auto;
    padding: 2%;
}

label{
    color: gray;
}

form div *{
    display: block;
}

input, select{
    width: 100%;
    border: 1px solid gray;
}

textarea{
    width: 100%;
    height: 100px;
}

button{
    color: white;
    background-color: #1010ff;
    border-radius: 5px;
    border: 0px;
    height: 30px;
    width: 80px;
    margin-top: 5px;
}

.container{
    display: grid;
    grid-template-columns: 1.3fr 3fr 0.4fr;
    background-color: white;
    gap: 1%;
    border-radius: 10px;
    overflow: hidden;
}

.figura img{
    width: 100%;
    height: 100%;
    margin: 0%;
}

.figura{
    height: 60%;
    margin: 0%;
}

.exclui{
    background-color: transparent;
    color: #1010ff;
    font-size: 20px;
    cursor: pointer;
}

.celula-Btn{
    display: grid;
    place-items: end;
}

p{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p, span{
    width: 100%;
    color: rgb(36, 35, 35);
}

.categoria{
    color: #1010ff;
    font-size: 18px;
}